.pooja-pic-div{
    
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    width: 75%;
    overflow-y: scroll;
    height: 80vh;
    overflow-x: hidden;
    flex-wrap: wrap;
    margin-left: 5rem;
}

.pooja-page-div{
    display: flex;
}

.pooja-images{
    height: 300px;
    width: 180px;
}

.pooja-inner{
    /* border: solid green; */
}

p{
    font-size: larger;
}